package web

templ Index() {
<html lang="en">
    <head>
        <title>Go Chat</title>
        <!-- Datastar -->
        <script type="module" src="https://cdn.jsdelivr.net/gh/starfederation/datastar@main/bundles/datastar.js"></script>
        <!-- Basecoat -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/basecoat-css@0.3.1/dist/basecoat.cdn.min.css">
        <script src="https://cdn.jsdelivr.net/npm/basecoat-css@0.3.1/dist/js/all.min.js" defer></script>
        <!-- Tailwind -->
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body data-signals="{active: 'daily'}" class="h-screen flex">
        <div id="rooms" data-on-load="@get('/rooms')"></div>
        <div id="chat" data-on-load="@get('/rooms/Daily/messages')"></div>
    </body>
</html>
}